
# Node.js
node_modules/

# Hardhat/Foundry/Artifacts
artifacts/
build/
cache/
dump.rdb

# TypeScript
*.tsbuildinfo

# Logs
*.log

# Environment
.env
.env.*

# VSCode
.vscode/

# OS
.DS_Store

# pnpm
pnpm-lock.yaml

# Coverage
coverage/

# Others
*.swp

# Monorepo apps/packages
apps/*/node_modules/
packages/*/node_modules/
apps/*/build/
packages/*/build/
apps/*/dist/
packages/*/dist/

# Next.js
apps/dashboard/.next/

# Misc
*.tgz
apps/dashboard
node_modules/
node_modules/
